<div class="wrapper">
	<body onclick="window.location.href='https://discord.gg/Ap6U3Pb';" style="cursor:pointer; width:100%; height:100%;"></body>
	<video autoplay playsinline muted loop preload poster="http://i.imgur.com/xHO6DbC.png">
    <source src="http://mazwai.com/system/posts/videos/000/000/218/original/severe-storm-over-mandurah.mp4?1454783161" />
	</video>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 89" preserveAspectRatio="xMidYMid slice">
    <defs>
      <mask id="mask" x="0" y="0" width="100%" height="100%" >
        <rect x="0" y="0" width="100%" height="100%" />
        <text x="87" y="50">YRFB</text>
      </mask>
    </defs>
    <rect x="0" y="0" width="100%" height="100%" />
  </svg>
</div>